<h1>Show Image</h1>

<ul>
  <span><%= live_patch "Back", to: Routes.gallery_index_path(@socket, :index) %></span>
  <span><%= live_patch "Prev", to: Routes.gallery_show_path(@socket, :show, @prev_image) %></span>
  <img src={@image_path}>
  <span><%= live_patch "Next", to: Routes.gallery_show_path(@socket, :show, @next_image) %></span>
</ul>

