<div>
    <.form let={f}
        for={@conn}
        phx-submit="filter"
        as="image_tag_filter"
    >
        <%= label f, :tags %>
        <%= multiple_select f, :tags, Onagal.Tags.list_tags_as_options(), selected: [Enum.map(assigns.filter, fn {k,v} -> v end)] %>

        <%= label f, :filters %>
        <%= text_input f, :filters, value: "" %>

        <%= submit "Filter" %>
    </.form>
</div>
