<div>
    <.form let={f}
        for={:image_tag_filter}
        phx-submit="filter"
    >
        <%= label f, :tags %>
        <%= multiple_select f, :tags, assigns.tag_list, selected: assigns.tag_filter %>

        <%= label f, :submit %>
        <%= submit "Filter" %>
    </.form>
    <div><%= @tag_filter %></div>
</div>
