<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Onagal"  %>  
    </.live_title>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="flex items-center justify-between p-6 container mx-auto bg-blue-900">
      <div class="mx-auto">
        <.link navigate="/" class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Home
        </.link>
      </div>
      <div class="mx-auto">
        <.link navigate={Routes.gallery_index_path(@conn, :index)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Gallery
        </.link>
      </div>
      <div class="mx-auto">
        <.link navigate={Routes.tag_index_path(@conn, :index)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Tags
        </.link>
      </div>
      <div class="mx-auto">
        <.link navigate={Routes.tagset_index_path(@conn, :index)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Tagsets
        </.link>
      </div>
      <div class="mx-auto">
        <.link navigate={Routes.filterset_index_path(@conn, :index)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Filtersets
        </.link>
      </div>

      <div class="mx-auto" :if={@current_user}>
        <.link navigate={Routes.user_settings_path(@conn, :edit)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Settings
        </.link>
      </div>
      <div class="mx-auto" :if={@current_user}>
        <.link navigate={Routes.live_dashboard_path(@conn, :home)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Dashboard
        </.link>
      </div>
      <div class="mx-auto" :if={@current_user}>
        <.link navigate="/graphiql" class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          GraphIQL
        </.link>
      </div>
      <div class="mx-auto" :if={@current_user}>
        <.link navigate={Routes.user_session_path(@conn, :delete)} method={:delete} 
               class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Logout
        </.link>
      </div>

      <div class="mx-auto" :if={!@current_user}>
        <.link navigate={Routes.user_session_path(@conn, :new)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Login
        </.link>
      </div>
      <div class="mx-auto" :if={!@current_user}>
        <.link navigate={Routes.user_registration_path(@conn, :new)} class="text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4">
          Register
        </.link>
      </div>
    </div>

    <%= @inner_content %>
  </body>
</html>
