<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Onagal", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="flex items-center justify-between p-6 container mx-auto bg-blue-900">
      <div class="mx-auto">
        <%= link "Home", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: "/" %>
      </div>
      <div class="mx-auto">
        <%= link "Gallery", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.gallery_index_path(@conn, :index) %>
      </div>
      <div class="mx-auto">
        <%= link "Tags", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.tag_index_path(@conn, :index) %>
      </div>
      <div class="mx-auto">
        <%= link "Tagsets", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.tagset_index_path(@conn, :index) %>
      </div>
      <div class="mx-auto">
        <%= link "Filtersets", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.filterset_index_path(@conn, :index) %>
      </div>

      <%= if @current_user do %>
        <div class="mx-auto">
          <%= link "Settings", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.user_settings_path(@conn, :edit) %>
        </div>
        <div class="mx-auto">
          <%= link "Dashboard", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.live_dashboard_path(@conn, :home) %>
        </div>
        <div class="mx-auto">
          <%= link "Logout", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.user_session_path(@conn, :delete), method: :delete %>
        </div>
      <% else %>
        <div class="mx-auto">
          <%= link "Login", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.user_session_path(@conn, :new) %>
        </div>
        <div class="mx-auto">
          <%= link "Register", class: "text-yellow-300 hover:text-yellow-600 transition duration-300 ease-in-out mb-4", to: Routes.user_registration_path(@conn, :new) %>
        </div>
      <% end %>
    </div>

    <%= @inner_content %>
  </body>
</html>
