<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Onagal", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
        <nav class="flex items-center justify-between p-6 container mx-auto bg-blue-900">
          <!-- Menu items in the center here -->
          <div class="text-lg text-gray-600 hidden lg:flex">
            <%= link "Home", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10", 
              to: "/" %>
            <%= link "Gallery", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10", 
              to: Routes.gallery_index_path(@conn, :index) %>
            <%= link "Tags", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10", 
              to: Routes.tag_index_path(@conn, :index) %>
            <%= link "Tagsets", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10", 
              to: Routes.tagset_index_path(@conn, :index) %>
            <%= link "Filtersets", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10", 
              to: Routes.filterset_index_path(@conn, :index) %>
            <%= if @current_user do %>
              <%= link "Settings", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10", 
                to: Routes.user_settings_path(@conn, :edit) %>
              <%= link "Dashboard", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10",
                to: Routes.live_dashboard_path(@conn, :home) %>
              <%= link "Logout", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0", 
                to: Routes.user_session_path(@conn, :delete), method: :delete %>
            <% else %>
              <%= link "Login", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0 mr-10",
                to: Routes.user_session_path(@conn, :new) %>
              <%= link "Register", class: "block text-blue-300 hover:text-yellow-300 mt-4 lg:inline-block lg:mt-0",
                to: Routes.user_registration_path(@conn, :new) %>
            <% end %>
          </div>
        </nav>
    </header>

    <div class="flex">
      <%= @inner_content %>
    </div>
  </body>
</html>
